*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #333, url('images/acceuil.webp');
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;

}


body img{
    width: 100%;
}


/* 
#d1{
    margin: 50px;
}*/

#c1{
    display: inline-block;
    margin-left: 15%;
    margin-top: 5%;
    width: 45%;
}

#c2{
    display: inline-block;
    float: right;
    margin-right: 15%;
    margin-top: 5%;
    width: 45%;
}

#c3{
    display: inline-block;
    margin-left: 15%;
    margin-top: 7%;
    width: 45%;
}

#c4{
    display: inline-block;
    float: right;
    margin-right: 15%;
    margin-top: 7%;
    width: 45%;
}

h1{
    text-transform: uppercase;
    font-size: 15px;
    color: black;
    font-family: "Abril fatface", sans-serif;
}

.logo{
    position: absolute;
    right: 3%;
    top: 4%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.medias{
    list-style-type: none;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bulle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 10px 0;
    background: grey;
    cursor: pointer;
    position: relative;
}

.logo-medias{
    width: 40px;
    height: 40px;
} 