*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #333, url('images/acceuil.webp');
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;

}


body img{
    width: 100%;
}

#d1{
    margin: 50px;
}

#c1{
    display: flex;
    width: 50%;
}

#c2{
    display: flex;
    float: right;
    width: 50%;
}

#c3{
    display: flex;
    width: 50%;
}

#c4{
    display: inline-block;
    float: right;
    width: 50%;
}

h1{
    text-transform: uppercase;
    font-size: 15px;
    color: black;
    font-family: "Abril fatface", sans-serif;
}

h1 span {
    position: relative;
}



.lignes{
    position: absolute;
    top: 6%;
    left: 5%;
}

.l1{
    width: 250px;
    height: 3px;
    background: grey;
    border-radius: 5px;
}

.l2{
    width: 140px;
    height: 3px;
    background: grey;
    border-radius: 5px;
    position: relative;
    top: 20px;;
}

.logo{
    position: absolute;
    right: 3%;
    top: 4%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.medias{
    list-style-type: none;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bulle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 10px 0;
    background: grey;
    cursor: pointer;
    position: relative;
}

.logo-medias{
    width: 40px;
    height: 40px;
}